/* Global Variables */
/* ---------------- */

:root {
  /* To use => color: var(--color-black); */
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-dark-blue: rgb(100, 130, 173);
  --color-light-blue: rgb(127, 161, 195);
  --color-dark-beige: rgb(226, 218, 214);
  --color-light-beige: rgb(245, 237, 237);
}

/* Global Styles */
html,
body {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.5px; 
}

/* Font Styles */
/* ----------- */

h1, h2, h3, h4, h5, h6 {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* 72px */
h1 { 
  font-size: 4.5rem; 
  margin-bottom: 3.75rem;
}
/* 30px */
h2 { 
  font-size: 1.875rem; 
}
/* 24px */
h3 { 
  font-size: 1.5rem; 
}
/* 20px */
h4 { 
  font-size: 1.25rem; 
}
/* 18px */
h5 { 
  font-size: 1.125rem; 
}
/* 16px */
h6 { 
  font-size: 1rem; 
}

p {
  line-height: 1.5;
}

/* Homepage */
/* -------- */

/* Background image */
.home-image {
  position: relative;
  background-image: url(../images/text.webp);
  /* Ensures the image covers the entire element */
  background-size: cover;
  /* Centers the background image within the element */
  background-position: center;
  height: 100vh;
}

/* Background image overlay */
.home-image::after {
  /* Required for the pseudo-element to be generated */
  content: '';
  /* Positions the pseudo-element relative to its nearest positioned ancestor */
  position: absolute;
  /* Alignments of the pseudo-element within the container */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Sets the overlay color to white with 50% transparency */
  background-color: rgba(226, 218, 214, 0.95);
  /* Ensures the overlay appears above the background image */ 
  z-index: 1; 
}

/* Header */
/* ------ */

.header {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 90%;
  background-color: var(--color-light-beige);
  padding: 1rem 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Make navigation ul and its li's inline */
.header nav > ul, 
.header nav li {
  display: inline;
}

/* The LOGO */
.logo {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: var(--color-black);
  font-size: 3rem; 
  margin-right: 1.875rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo:hover {
  color: var(--color-dark-blue);
  text-decoration: underline;
}

/* Navigational links */
.header li > a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-dark-blue);
  margin-right: 0.9375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header li > a:hover {
  color: var(--color-light-blue);
  font-weight: 600;
  text-decoration: underline;
}


/* Main Content */
/* ------------ */

.home-content {
  position: relative;
  z-index: 2;
  top: 50%;
  /* Shifts it back up by 50% of its own height */
  transform: translateY(-50%); 
  margin: 0 5%; /* Left & Right: 60px */
}

.home-content article > p:first-of-type {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.home-content article > p:nth-of-type(2) {
  font-size: 1.125rem;
  margin-bottom: 3.75rem;
}

/* Buttons */
.home-content nav {
  margin-top: 1.875rem;
}

.button {
  position: relative;
  display: inline-block;
  background-color: var(--color-dark-blue);
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  /* Center text horizontally */
  text-align: center;
  /* Same as height to vertically center text */
  line-height: 5.625rem; 
  margin-right: 1.875rem;
  font-size: 1rem;
  text-transform: uppercase;
  overflow: hidden;
  color: var(--color-white);
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 1.875rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--color-light-blue);
  color: var(--color-black);
  font-weight: 600;
}

.button:active {
  width: 5.3rem;
  height: 5.3rem;
  line-height: 5.3rem; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/* Footer */
/* ------ */

.footer {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 90%;
  background-color: var(--color-light-beige);
  padding: 1rem 5%;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

.footer nav > span {
  margin-right: 1.875rem;
  font-size: 0.875rem;
}

.footer nav > a {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-dark-blue);
  margin-right: 0.9375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer nav > a:hover {
  color: var(--color-light-blue);
  font-weight: 600;
  text-decoration: underline;
}

/* ------------------------------------------------------- */
/* colors Page */
/* ------------------------------------------------------- */

/* Main Section */
#intro-paragraph {
  font-size: 1.125rem;
  margin-bottom: 3.75rem;
}

/* Colors Blocks*/
.home-content > figure div {
  position: relative;
  /* Width 400px */
  width: 25rem;
  /* 100px */
  height: 3.125rem;
}

.home-content > figure div:nth-last-of-type(6) > p,
.home-content > figure div:nth-last-of-type(5) > p,
.home-content > figure div:nth-last-of-type(4) > p,
.home-content > figure div:nth-last-of-type(3) > p,
.home-content > figure div:nth-last-of-type(2) > p,
.home-content > figure div:nth-last-of-type(1) > p {
  position: relative;
  left: 10px;
  top: 12px;
  font-weight: 500;
}

/* First block - Dark Black */
.home-content > figure div:nth-last-of-type(6) {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 10px 10px 0 0;
}

/* Second block - Dark Blue */
.home-content > figure div:nth-last-of-type(5) {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

/* Third block - Light Blue */
.home-content > figure div:nth-last-of-type(4) {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

/* Fourth block - Dark Beige */
.home-content > figure div:nth-last-of-type(3) {
  background-color: var(--color-dark-beige);
}

/* Fifth block - Light Beige */
.home-content > figure div:nth-last-of-type(2) {
  background-color: var(--color-light-beige);
}

/* Sixth block - White */
.home-content > figure div:nth-last-of-type(1) {
  background-color: var(--color-white);
  border-radius: 0 0 10px 10px;
}

/* ------------------------------------------------------- */
/* Fonts Page */
/* ------------------------------------------------------- */

.home-content > figure div.font-light-beige {
  background-color: var(--color-light-beige);
  border-radius: 10px 10px 0 0;
  position: relative;
  /* Width 400px */
  width: 25rem;
  /* 300px */
  height: 18.75rem;
}

.home-content > figure div.font-light-beige.top {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid white;
}

.home-content > figure div.font-light-beige.bottom {
  border-radius: 0 0 10px 10px;
}