/* Global Variables */
/* ---------------- */

:root {
  /* To use => color: var(--color-black); */
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-dark-blue: rgb(100, 130, 173);
  --color-light-blue: rgb(127, 161, 195);
  --color-dark-beige: rgb(226, 218, 214);
  --color-light-beige: rgb(245, 237, 237);
}

/* Global Styles */
html,
body {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.5px; 
}

/* Font Styles */
/* ----------- */

h1, h2, h3, h4, h5, h6 {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* 72px */
h1 { 
  font-size: 4.5rem; 
  margin-bottom: 3.75rem;
}
/* 60px */
h2 { 
  font-size: 3.75rem; 
}
/* 54px */
h3 { 
  font-size: 3.375rem; 
}
/* 48px */
h4 { 
  font-size: 3rem; 
}
/* 44px */
h5 { 
  font-size: 2.75rem; 
}
/* 40px */
h6 { 
  font-size: 2.5rem; 
}

p {
  line-height: 1.5;
}

/* Homepage */
/* -------- */

/* Background image */
.home-image {
  position: relative;
  background-image: url(../images/text.webp);
  /* Ensures the image covers the entire element */
  background-size: cover;
  /* Centers the background image within the element */
  background-position: center;
  height: 100vh;
}

/* Background image overlay */
.home-image::after {
  /* Required for the pseudo-element to be generated */
  content: '';
  /* Positions the pseudo-element relative to its nearest positioned ancestor */
  position: absolute;
  /* Alignments of the pseudo-element within the container */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Sets the overlay color to white with 50% transparency */
  background-color: rgba(226, 218, 214, 0.95);
  /* Ensures the overlay appears above the background image */ 
  z-index: 1; 
}

/* Header */
/* ------ */

.header {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 90%;
  background-color: var(--color-light-beige);
  padding: 1rem 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Make navigation ul and its li's inline */
.header nav > ul, 
.header nav li {
  display: inline;
}

/* The LOGO */
.logo {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: var(--color-black);
  font-size: 3rem; 
  margin-right: 1.875rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo:hover {
  color: var(--color-dark-blue);
  text-decoration: underline;
}

/* Navigational links */
.header li > a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-dark-blue);
  margin-right: 0.9375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header li > a:hover {
  color: var(--color-light-blue);
  font-weight: 600;
  text-decoration: underline;
}


/* Main Content */
/* ------------ */

.home-content {
  position: relative;
  z-index: 2;
  top: 50%;
  /* Shifts it back up by 50% of its own height */
  transform: translateY(-50%); 
  margin: 0 5%; /* Left & Right: 60px */
}

.home-content article > p:first-of-type {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.home-content article > p:nth-of-type(2) {
  font-size: 1.125rem;
  margin-bottom: 3.75rem;
}

/* Buttons */


/* Footer */
/* ------ */

.footer {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 90%;
  background-color: var(--color-light-beige);
  padding: 1rem 5%;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}